.user-dashboard {
  width: 100%;
  justify-content: space-between;
  .container {
    width: 100%;
    .left {
      width: 66%;
      padding: 0 2%;
      align-items: start;
        .stats-cards {
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            .card {
                width: calc(100% / 3.1);
                height: 200px;
                background: white;
                border-radius: 30px;
            }
        }
    }
    .right {
      margin-top: 100px;
      width: 30%;
    }
  }
}
