.poppins {
  font-family: "Poppins";
}

* {
  font-family: "Signika Negative";
}

.lilita {
  font-family: "Lilita One";
}

.grotesk {
  font-family: "Space Grotesk";
}

.signika {
  font-family: "Signika Negative";
}