.poppins {
  font-family: "Poppins";
}

* {
  font-family: "Signika Negative" !important;
  font-family: Lilita One ;
  border-radius: 30px;
}

.lilita {
  font-family: "Lilita One";
}

.grotesk {
  font-family: "Space Grotesk";
}

.signika {
  font-family: "Signika Negative";
}

.icon  {
  border-radius: 0;
}