* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lilita One" !important;
}

#nprogress  {
  background: orange !important;
  height: 4px !important;
}

.animate {
  animation: animate 1s linear;
}

@keyframes animate {
  from {
    transform: translateX(-100px);
  } to {
    transform: translateX(0);
  }
}