* {
  margin: 0;
  padding: 0;
  font-family: Signika Negative;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.pointer {
  cursor: pointer;
}